*{
	padding: 0;
	margin: 0;
}
a {
	color: #FEF664;
}
body{
	background-color:#FBB98A;
}
.hdgz_bnt{
	position: absolute;
	background-image: url('../resources/cl/v2.6.7/hdgz.png');
	background-size: 100% 100%;
	left: 0rem;
	top: 0.5rem;
	width: 3rem;
	height: 1.2rem;
	font-size: 0.5rem;
	line-height: 1rem;
	z-index: 999;
}

.header{
	width: 100%;
	height: 47.8rem;
	background-image: url('../resources/cl/v2.7.1/bg1.jpg'),url('../resources/cl/v2.7.1/bg2.jpg');
	background-position: 0 0,0 25rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.index_img{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.8);
}
.index_img img{
	position: relative;
	width: 100%;
	height: auto;
}
.index_img .gif_gf{
	position: absolute;
	bottom: 0.3rem;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,0.8);
	z-index: 100;
}
.tan_box{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}
.phone_input,.sms_input{
	position: absolute;
	top: 10vh;
	width: 100%;
	height: 38.9rem;
}
.sms_input{
	background-image: url('../resources/cl/v2.6.7/main_input_bg.png');
	background-position: 0 0,0 19.3rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.space{
	height: 14.3rem;
}

.input_box {
	margin: 0 auto ;
	width: 65%;
	height: 2.1rem;
	background-image: url('../resources/cl/v2.6.7/input_bg.png');
	border-radius: 2rem;
	background-size: 100% 100%;
	background-color: #FFF;
}
.code_input {
	margin: 0 auto ;
	width: 65%;
	height: 2.1rem;
	border-radius: 2rem;
	background-color: #FFF;
}

.input_box input,.code_input input {
	display: block;
	margin: 0 auto;
	width: 100%;
	height:100%;
	outline: none;
	border: none;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	font-size: 1rem;
	color: #000;
	line-height: 2.5rem;
}


input::-webkit-input-placeholder {
	text-align: center;
	font-size: .7rem;
	color: #535553;
}

.btn1 {
	margin: 0rem auto;
	width:100%;
	height: 2.8rem;
	background-image: url('../resources/cl/v2.6.7/submit_bnt.gif');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.btn_new {
	margin: 0rem auto;
	width:70%;
	height: 2.8rem;
	background-image: url('../resources/cl/v2.6.7/submit_input_bnt.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}


.mh_box{
	position: relative;
	text-align: center;
	font-size: .5rem;
	width: 100%;
	color: #FFF;
	opacity: 0.9;
	box-sizing: border-box;
}

.checkbox {
	width: 100%;
	color: rgba(255,255,255,0.9);
	text-align: center;
	font-size: 0.5rem;
	box-sizing: border-box;
	margin: 0.2rem auto 0.1rem;
}


.sms_input_close{
	position: absolute;
	top: -1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	right: 1rem;
	border-radius: 1rem;
	border: 1px solid #FFF;
	text-align: center;
	font-size: 0.8rem;
	color: rgba(255,255,255,0.7);
	line-height: 1.5rem;
}
.product_info_box,.success_box,.error_box,.product_info_box_2,.success_box_cj
,.success_box_cj_fail{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
}

.product_info{
	position: absolute;
	color: #FFF;
	width:90%;
	height: 70vh;
	top: 10vh;
	left:5%;
	padding: .5rem;
	box-sizing: border-box;
	font-size: .5rem;
	line-height: 1rem;
	overflow: scroll;
	background-color: #FB7B24;
	border-radius: 0.8rem;
}
.product_info_bnt{
	position: absolute;
	width: 40%;
	left: 30%;
	height: 2rem;
	background-color: #FB7B24;
	border-radius: 1.5rem;
	bottom: 3rem;
	color: #FFF;
	text-align: center;
	line-height: 2rem;
}
.succ_box,.err_box {
	position: absolute;
	top: 20vh;
	left:0%;
	width: 100%;
	height: 19rem;
}
.succ_box_cj {
	position: absolute;
	top: 20vh;
	left:0%;
	width: 100%;
	height: 10rem;
}
.succ_box_cj_fail{
	position: absolute;
	top: 20vh;
	left:10%;
	width: 80%;
	height: 9rem;
}
.succ_box img,.err_box img,.succ_box_cj img, .succ_box_cj_fail img{
	width: 100%;
	height: 100%;
}

.ok,.err_ok{
	position: absolute;
	bottom: 1rem;
	left:5%;
	width: 90%;
	height: 2rem;
}
.ok_cj_fail{
	position: absolute;
	bottom: 0rem;
	left:5%;
	width: 90%;
	height: 2rem;
}

.tbody{
	width:100%;
	min-height: 10rem;
	background-image: url('../resources/cl/v2.7.1/bg3.jpg');
	background-repeat:repeat-y;
	background-size: 100% auto;
}
.product_sm{
	color: #FFF;
	font-size: 0.5rem;
	padding: 1rem 5%;
	line-height: 1rem;
}
.product_sm h3{
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
}
.qy_foot_box{
	background-image: url('../resources/cl/v2.7.1/qy_bnt.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 50%;
	height: 1.5rem;
	margin: 0.5rem auto;
}
.kf_foot_box{
	background-image: url('../resources/cl/v2.7.1/kf_bg.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 85%;
	height: 1.2rem;
	margin: 0.5rem auto;
	text-align: center;
	line-height: 1.2rem;
}
.conter {
	width: 100%;
	background-size: 100% 100%;
	padding: 0 .8rem 0.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: -0.3rem;
	min-height: 7.5rem;
}

.sin_box {
	margin: 0rem 0.2rem 0.3rem 0.5rem;
	width: 6.5rem;
	height: 11rem;
}

.img_box {
	width: 100%;
	height: 80%;
	overflow: hidden;
	border-radius: 10px;

}

.img_box img {
	width: 100%;
	height: 100%;
}

.set_btn {
	margin: 0.3rem auto;
	width: 90%;
	height: 1.2rem;
	font-size: 0.5rem;
	color: #FFF;
	background-color: #FF9E00;
	border-radius: .7rem;
	line-height: 1.2rem;
	text-align: center;
}
	
.res_foot{
	position: relative;
	color: rgba(0,0,0,0.8);
	background-image: url('../resources/cl/v2.6.7/bg4.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-size: 0.6rem;
	width: 100%;
	height: 3rem;
	line-height: 1rem;
	text-align: center;
}